.BdcV\(color-black\) {
  border-color: var(--color-black);
}
.BgcV\(color-red\) {
  background-color: var(--color-red);
}
.CV\(color-green\) {
  color: var(--color-green);
}
.BdrsV\(space-1\) {
  border-radius: var(--space-1);
}
.PV\(space-1\) {
  padding: var(--space-1);
}
